:root {
  /*Normal texts colors*/
  --textcolor: #000;
  --accentcolor: #4a5c50;
  --accentcolor2: #3a3a3a;
  --accentcolor3: #555;
  --logintitle: #000;
  --labletext: #000;
  --successtext: #3c763d;
  --errortext: #a94442;
  --linkcolor: #0e2e35;
  --titlecolor: #312929;

  /*Borders and shadows*/
  --bordercolor: #635a5a;
  --bordercard: #FFC361;
  --shadowcolor: rgba(0, 0, 0, 0.1);
  --successborder: #d6e9c6;
  --errorborder: #ebccd1;
  --inputborder: #a0a0a0;

  /*Buttons*/
  --buttonhover: #e1aa52;
  --textbutton: #000;
  --button: #FFC361;
  --buttondisabled: #ccc;
  --removebutton: #544343;
  --removebuttonhover: #635a5a;
  --textcancelbutton: #fff;

  /*Backgrounds*/
  --inputbackground: #fff;
  --successbackground: #dff0d8;
  --errorbackground: #f2dede;
  --formbackground: #89A89475;
  --backgroundcolor: #FFC36130;
  --backgroundcard: #FFC36140;
  --titlebackground: #89A894;
  --selectedbackground: #89A89455;
  --linkhover: #89A89433;
  --sidebarbackground: #89A89422;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--textcolor);
  background: var(--backgroundcolor);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}